<!-- src/app/student-form/student-form.component.html -->
<h2>{{ isEditMode ? 'Edit Student' : 'Add Student' }}</h2>
<form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" class="form-control" formControlName="name" required>
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label>
    <input type="text" id="gender" class="form-control" formControlName="gender">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" class="form-control" formControlName="dob">
  </div>
  <div class="form-group">
    <label for="major">Major:</label>
    <input type="text" id="major" class="form-control" formControlName="major">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" class="form-control" formControlName="email" required>
  </div>
  <div class="form-group">
    <label for="contactNumber">Contact Number:</label>
    <input type="tel" id="contactNumber" class="form-control" formControlName="contact_number">
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" routerLink="/students">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
