
<div class="body">
  <div class="navbar">
    <p class="navbar-head">EduSphere</p>
    <div class="navbar-buttons">
      <button><a class="nav-anchor" href="instructors">Instructor</a></button>
      <button><a class="nav-anchor" href="courses">Courses</a></button>
      <button><a class="nav-anchor" href="students">Student</a></button>
      <button><a class="nav-anchor" href="enrollment-list">Enrollment</a></button>
      <button><a class="nav-anchor" href="assignments">Assignments</a></button>
      <button><a class="nav-anchor" href="submissions">Submissions</a></button>
      <button><a class="nav-anchor" href="announcements">Announcements</a></button>
      <button><a class="nav-anchor" href="departments">Departments</a></button>
    </div>
  </div>
<div class="student-details">
  <h1>Student Details</h1>
  <div *ngIf="student">
    <dl class="row">
      <h3 class="col-sm-9">Name: {{ student.name }}</h3>
      <h3 class="col-sm-9">Gender: {{ student.gender }}</h3>
      <h3 class="col-sm-9">DOB: {{ student.dob }}</h3>

      <h3 class="col-sm-9">Major: {{ student.major }}</h3>

      <h3 class="col-sm-9">Email: {{ student.email }}</h3>

      <h3 class="col-sm-9">Contact Number: {{ student.contact_number }}</h3>
    </dl>
  </div>
  <br />
  <div class="text-right">
    <button class="list-button">
      <a routerLink="/students" >Back to List</a>
    </button>
  </div>
</div>
</div>
