<div class="student-details">
  <h1>Student Details</h1>
  <div *ngIf="student">
    <dl class="row">
      <h3 class="col-sm-9">Name: {{ student.name }}</h3>
      <h3 class="col-sm-9">Gender: {{ student.gender }}</h3>
      <h3 class="col-sm-9">DOB: {{ student.dob }}</h3>

      <h3 class="col-sm-9">Major: {{ student.major }}</h3>

      <h3 class="col-sm-9">Email: {{ student.email }}</h3>

      <h3 class="col-sm-9">Contact Number: {{ student.contact_number }}</h3>
    </dl>
  </div>
  <br />
  <div class="text-right">
    <button>
      <a routerLink="/students" class="btn btn-primary">Back to List</a>
    </button>
  </div>
</div>
