
<div class="body">
<div class="navbar">
    <p class="navbar-head">EduSphere</p>
    <div class="navbar-buttons">
        <h3>Features</h3>
        <h3>Pricing</h3>
        <h3>Community</h3>
        <h3>Company</h3>
    </div>
</div>
<div class="container">
    <div class="container-first-box">
        <h2>An all-in-one learning platform</h2>
        <h1>Your successful</h1>
        <h1>online learning</h1>
        <h1>journey begins here</h1>
        <button class="navbar-button"><a href="/students/new">Student</a></button>
        <button class="navbar-button"><a href="/instructors/new">Instructor</a></button>
    </div>
    <div class="container-second-box">
        <img src="https://www.zohowebstatic.com/sites/default/files/trainercentral/trainer-three.jpg" alt="poster">
    </div>
</div>
<div class="container">
    <div class="container-third-box">
        <img src="https://www.zohowebstatic.com/sites/oweb/images/trainercentral/deliver-experience.jpg" alt="learning">
    </div>
    <div class="container-fourth-box">
        <h2>Create courses that reflect your expertise</h2>
        <p>We give you a no-frills set up that helps transform your knowledge into impactful content. Pass on your wisdom in any which way you like: a self-paced module, a live virtual session, or an in-person program.</p>
        
        <h2>Gather a vibrant community</h2>
        <p>TrainerCentral provides a platform to create and nurture your own learning community and build long-term trust. Through our virtual classroom technology and immersive engagement features, you can establish a human connection with all your learners.</p>
        
        <h2>Build a business you can be proud of</h2>
        <p>Get all the right tools to power your training profession. From an intuitive website builder to customizable branding and payment management, you have a supportive business partner in TrainerCentral.</p>
        
        <h2>Get actionable insights, every time.</h2>
        <p>With a comprehensive dashboard offering detailed analytics on subscription trends, learner progress, and course feedback, you are always in full control of your business. Bring more experts to the fore and manage your team effortlessly using TrainerCentral's admin console.</p>
    </div>
</div>
</div>