
<div class="body">
  <div class="navbar">
    <p class="navbar-head"><a href="home">EduSphere</a></p>
    <div class="navbar-buttons">
      <button><a class="nav-anchor" href="enroll">Enrollment</a></button>
      <button><a class="nav-anchor" href="assignments-list">Assignment</a></button>
      <button><a class="nav-anchor" href="submissions-form">Submission</a></button>
      <button><a class="nav-anchor" href="announcements-list">Announcement</a></button>
    </div>
  </div>
<div class="enroll-form">
<h2>Enroll in a Course</h2>
<br>
<form (ngSubmit)="enrollStudent()">
  <label for="course">Select a Course:</label>
  <br>
  <select id="course" [(ngModel)]="selectedCourseId" name="course">
    <option *ngFor="let course of availableCourses" [value]="course.id">{{ course.course_name }}</option>
  </select>
  <br>
  <br>
  <label for="student">Select a Student:</label>
  <br>
  <select id="student" [(ngModel)]="selectedStudentId" name="student">
    <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
  </select>
  <br>
  <br>
  <button type="submit" class="list-button">Enroll</button>
</form>
<!-- <button><a href="/assignments">Assignment</a></button>
<button><a href="/announcements">Anouncement</a></button> -->
</div>
<br>
<br>
<br>
</div>


    

