


.body {
    height: fit-content;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 1px dotted white;
  }
  
  .navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-head {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: white;
  }
  
  h3 {
    color: white;
  }
  
  h2 {
    text-align: center;
    margin: auto;
    color: white;
  }
  
  button {
    padding: 10px 5px;
    font-size: 15px;
    background-color: transparent;
    border: 1px dotted white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  a {
    color: white;
    margin-right: 5px;
    margin-left: 5px;
  }
  .nav-anchor {
    text-decoration: none;
  }

  .submission-form{
    width: 20%;
    margin: auto;
    padding: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid white;
}

h2{
    text-align: center;
    margin: auto;
    color: white;
}
label{
    font-size: 17px;
    color: white;
}
 input{
    padding: 7px;
    width: 95%;
    margin: auto;
 }
select{
    padding: 7px;
    width: 100%;
    margin: auto;
}

.list-button{
    padding:12px 30px;
    font-size: 15px;
    background-color:rgba(9, 9, 121, 1);
    border: none;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid white;
}

textarea{
    width: 100%;
    height: 50px;
}