
<div class="body">
  <div class="navbar">
    <p class="navbar-head">EduSphere</p>
    <div class="navbar-buttons">
      <button><a class="nav-anchor" href="instructors">Instructor</a></button>
      <button><a class="nav-anchor" href="courses">Courses</a></button>
      <button><a class="nav-anchor" href="students">Student</a></button>
      <button><a class="nav-anchor" href="enrollment-list">Enrollment</a></button>
      <button><a class="nav-anchor" href="assignments">Assignments</a></button>
      <button><a class="nav-anchor" href="submissions">Submissions</a></button>
      <button><a class="nav-anchor" href="announcements">Announcements</a></button>
      <button><a class="nav-anchor" href="departments">Departments</a></button>
    </div>
  </div>
  <div class="student-list">
    <h1>Student List</h1>
    <div class="table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Major</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.major }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.contact_number }}</td>
          <td>
            <a
              routerLink="/students/{{ student.id }}"
              class="btn btn-sm btn-primary"
              >View</a
            >
            <a
              routerLink="/students/{{ student.id }}/edit"
              class="btn btn-sm btn-success"
              >Edit</a
            >
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteStudent(student.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <br>
  <br>
  </div>

