<h2>Assignment List</h2>
<div *ngFor="let assignment of assignments">
  <p>Name: {{ assignment.title }}</p>
  <p>Description: {{ assignment.description }}</p>
  <p>Due Date: {{ assignment.due_date }}</p>
  <button (click)="updateAssignment(assignment.id, { description: 'completed' })">
    Update
  </button>
  <button (click)="deleteAssignment(assignment.id)">Delete</button>
</div>

<!-- <form (ngSubmit)="createAssignment()">
    <input type="text" placeholder="Title" [(ngModel)]="newAssignment.title" name="title" />
    <input type="text" placeholder="Description" [(ngModel)]="newAssignment.description" name="description" />
    <input type="date" [(ngModel)]="newAssignment.due_date" name="due_date" />
    <button type="submit">Create Assignment</button>
</form> -->

<form (submit)="createAssignment()">
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    [(ngModel)]="newAssignment.title"
    name="title"
    required
  />

  <label for="description">Description:</label>
  <textarea
    id="description"
    [(ngModel)]="newAssignment.description"
    name="description"
    required
  ></textarea>

  <label for="due_date">Due Date:</label>
  <input
    type="date"
    id="due_date"
    [(ngModel)]="newAssignment.due_date"
    name="due_date"
    required
  />

  <label for="course">Course:</label>
  <select id="course" [(ngModel)]="newAssignment.course" name="course" required>
    <option *ngFor="let course of courses" [value]="course.id">
      {{ course.course_name }}
    </option>
  </select>

  <button type="submit">Create Assignment</button>
</form>
