<div class="body">
  <div class="navbar">
    <p class="navbar-head">EduSphere</p>
    <div class="navbar-buttons">
      <button><a class="nav-anchor" href="instructors">Instructor</a></button>
      <button><a class="nav-anchor" href="courses">Courses</a></button>
      <button><a class="nav-anchor" href="students">Student</a></button>
      <button>
        <a class="nav-anchor" href="enrollment-list">Enrollment</a>
      </button>
      <button><a class="nav-anchor" href="assignments">Assignments</a></button>
      <button><a class="nav-anchor" href="submissions">Submissions</a></button>
      <button><a class="nav-anchor" href="announcements">Announcements</a></button>
      <button><a class="nav-anchor" href="departments">Departments</a></button>
    </div>
  </div>
  <div class="submission-list">
    <h2>Submitted Assignments</h2>
    <br>
    <div class="table">
    <table>
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Student</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of submissions">
          <td>{{ getAssignmentById(submission.assignment) }}</td>
          <td>{{ getStudentById(submission.student) }}</td>
          <td>{{ submission.status }}</td>
          <td>{{ submission.submission_date | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
